    </form>
  </div>

  <p class="page-description" style="font-weight: bold; font-size: large;">Below you can find all the created saved
    exercises. You can search for a specific one by typing its name in the search bar.
  </p>

  {{ all_rows(headings, data) }}

</body>

</html>

 

 
put at very top
{% from 'macros.j2' import all_rows %}
