<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DYELBro - Exercises</title>
  <link rel="stylesheet" href=".\static\css\style.css" type="text/css">
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      text-align: center;
      margin: auto;
    }
    h1 {
      margin: auto;
      text-align: center;
      padding-top: 50px;
    }
    .page-description {
      max-width: 80%;
      text-align: center;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    ul {
      margin: auto;
    }
    .ul-title {
      font-weight: bold;
      padding-bottom: 15px;
    }
    .form-inline:not(.exercise-name-div) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .form-inline label {
      margin: auto
    }
    .form-inline input {
      vertical-align: middle;
      margin: 5px 10px 5px 0;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
    }
    .exercise-name:focus {
      background-color: lightblue;
      transition: all 0.4s ease-in-out;
    }
    .search-bar[type=text]:focus {
      transition: all 0.4s;
      background-color: lightblue;
    }
    .form-inline button {
      padding: 10px 20px;
      background-color: dodgerblue;
      border: 1px solid #ddd;
    }
    .form-inline button:hover {
      background-color: royalblue;
    }
    .form-inline {
      flex-direction: row;
      align-items: stretch;
    }
    form {
      border: 1px solid black;
      text-align: center;
      width: fit-content;
      margin: auto;
      padding: 20px;
    }
    .submit-button {
      height: 25%;
      margin: auto;
    }
  </style>
</head>

<body>
  <!-- Link below to home page-->
  <a href="/">
    <img style="width: 40%; padding-bottom: 20px;" class="title" src="./static/img/title.png" type="image/png">
  </a>

  <!-- Link below to lists and add exercise page-->
  <div class="horizontal-menu" id="link-bar">
    <a href="/exercises">Exercises</a>
    <a href="/training_types">Training Types</a>
    <a href="/movement_types">Movement Types</a>
    <a href="/muscle_groups">Muscle Groups</a>
  </div>

  <h1>Add Your Exercise Below</h1>
  <div class="form">
    <form id="myform" class="form-inline" action="/exercises" method ="POST">
      <div class="exercise-name-div" style="margin: auto;">
        <label for="exercise_name" style="font-weight: bold;">Please enter the name of the
          exercise:</label><br>
        <input required class="exercise-name" type="text" name="exercise_name" placeholder="Enter exercise name here...">
      </div>
      <ul style="list-style-type: none;">
        <div class="ul-title">Please select relevant Training Types:</div>
        <div style="font-size: 12px; font-weight: bold;">
          Hold control and click for multiple selections...
        </div>
        <select multiple name="training" id="training">
        <option value="" disabled selected>Choose</option> 
          {% for row in training %}
            {% for key in row.keys() %}
            <option value="{{row[key] if row[key]}}">{{row[key] if row[key]}}</option>
            {% endfor %}
          {% endfor %}
        </select>
      </ul>

      <ul style="list-style-type: none;">
        <div class="ul-title">Please select relevant Movement Types:</div>
        <div style="font-size: 12px; font-weight: bold;">
          Hold control and click for multiple selections...
        </div>
        <select multiple required name="movement" id="movement">
        <option value="" disabled selected>Choose</option> 
          {% for row in movement %}
            {% for key in row.keys() %}
            <option value="{{row[key]}}">{{row[key]}}</option>
            {% endfor %}
          {% endfor %}
        </select>
      </ul>

      <ul style="list-style-type: none;">
        <div class="ul-title">Please select relevant Muscle Groups:</div>
        <div style="font-size: 12px; font-weight: bold;">
          Hold control and click for multiple selections...
        </div>
        <select multiple required name="muscle_groups" id="muscle_groups">
        <option value="" disabled selected>Choose</option> 
          {% for row in muscle %}
            {% for key in row.keys() %}
            <option value="{{row[key]}}">{{row[key]}}</option>
            {% endfor %}
          {% endfor %}
        </select>
      </ul>
      <div class="submit-button">
        <input style="font-weight: bold; background-color:red;" type="submit" value="Submit Exercise" />
      </div>


    </form>
  </div>

  <p class="page-description" style="font-weight: bold; font-size: large;">Below you can find all the created saved
    exercises. You can search for a specific one by typing its name in the search bar.
  </p>
  <!-- Table with jinja templating to render from queries -->
  <table style="width:75%">
    <tr>
      <th colspan="6" >
        <label for="search-bar">Search exercises by name:</label>
        <form action="/search" method = "POST">
        <input required class="search-bar" name="search-bar" type="text" placeholder="Enter exercise name here...">
        <button type="submit" name="search_button" value="search">Search</button>
        </form>
      </th>
    </tr>
    <tr>
      <th style="width: 100px;">Exercise ID</th>
      <th>Exercise Name</th>
      <th>Training Type:
      </th>
      <th>Movement Type:
      </th>
      <th>Muscle Groups:
      </th>
      <th style="width: 150px;">Modify
      </th>
    </tr>
   {% for row in data %}
    <tr>
      {% for key in row.keys() %}
      <td>
      {% if row[key] is iterable and row[key] is not string %}    <!-- and row[key] is not mapping (for dictionaries) -->
      {{ row[key] | join(', ')}} 
      {% else %}
      {{ row[key] }} 
      {% endif %}
      </td>
      {% endfor %}
      <td>
        <a href="/update/{{ row.exerciseId }}"><button type="submit" name="update_button" value="update">Update</button></a><a href="/delete/{{ row.exerciseId }}"><button type="submit" name="delete_button" value="delete">Delete</button></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>