<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>DYELBro - Welcome</title>
    <link rel="stylesheet" href=".\static\css\style.css" type="text/css">
    <style>
        th {
            margin: auto;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: bold;
            font-size: larger;
            border: 1px solid black;
            border-radius: 30px;
            color: white;
        }

        table {
            border: 6px solid red;
            border-radius: 30px;
            background-color: black;
        }
    </style>
</header>

<body>
    <!-- Link below to home page-->
    <a href="home.html">
        <img style="width: 40%; padding-bottom: 20px;" class="title" src="\static\img\title.png" type="image/png">
    </a>

    <!-- Link below to lists and add exercise page-->
    <div class="horizontal-menu" id="link-bar">
        <a href="exercises.html">Exercises</a>
        <a href="training_types.html">Training Types</a>
        <a href="movement_types.html">Movement Types</a>
        <a href="muscle_groups.html">Muscle Groups</a>
    </div>

    <table style="width: 100%;">
        <tr>
            <th style="width: 25%;">
                Displays currently stored exercises and allows users to add new exercises entity with attributes of
                their choice.
            </th>
            <th>
                Displays all currently stored training types and allows users to add new ones or modify existing ones.
            </th>
            <th>
                Displays all currently stored movement types and allows users to add new ones or modify existing ones.
            </th>
            <th>
                Displays all currently stored muscle groups and allows users to add new ones or modify existing ones.
            </th>
        </tr>
    </table>
    <h1 class="description">Welcome to our page, the links in the navigation bar above will take you
        to a page where a table will display all stored information on that type of entity.
        The currently stored information can also be modified and attributes can be added for new entities.
    </h1>
</body>

</html>