<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DYELBro - Training Types</title>
    <link rel="stylesheet" href=".\static\css\style.css" type="text/css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            text-align: center;
            margin: auto;
        }

        h1 {
            margin: auto;
            text-align: center;
            padding-top: 50px;
        }

        .page-description {
            max-width: 80%;
            text-align: center;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        ul {
            margin: auto;
        }

        .ul-title {
            font-weight: bold;
            padding-bottom: 15px;
        }

        .form-inline:not(.exercise-name-div) {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }

        .form-inline label {
            margin: auto
        }

        .form-inline input {
            vertical-align: middle;
            margin: 5px 10px 5px 0;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .exercise-name:focus {
            background-color: lightblue;
            transition: all 0.4s ease-in-out;
        }

        .search-bar[type=text]:focus {
            transition: all 0.4s;
            background-color: lightblue;
        }

        .form-inline button {
            padding: 10px 20px;
            background-color: dodgerblue;
            border: 1px solid #ddd;
        }

        .form-inline button:hover {
            background-color: royalblue;
        }

        .form-inline {
            flex-direction: row;
            align-items: stretch;
        }

        form {
            border: 1px solid black;
            text-align: center;
            width: fit-content;
            margin: auto;
            padding: 20px;
        }

        .submit-button {
            height: 25%;
            margin: auto;
        }
    </style>
</head>

<body>
    <!-- Link below to home page-->
    <a href="/">
        <img style="width: 40%; padding-bottom: 20px;" class="title" src="./static/img/title.png" type="image/png">
    </a>

    <!-- Link below to lists and add exercise page-->
    <div class="horizontal-menu" id="link-bar">
        <a href="/exercises">Exercises</a>
        <a href="/training_types">Training Types</a>
        <a href="/movement_types">Movement Types</a>
        <a href="/muscle_groups">Muscle Groups</a>
    </div>

    <h1>Add Your Training Type Below</h1>
    <div class="form">
        <form  class="form-inline" action="/training_types" method ="POST" >
            <div class="exercise-name-div" style="margin: auto;">
                <label for="exercise_name" style="font-weight: bold;">Please enter the name of the
                    training type:</label><br>
                <input required class="exercise-name" type="text" name="training" placeholder="Enter training type here...">
            </div>

            <div class="submit-button">
                <input style="font-weight: bold; background-color:red;" type="submit" value="Submit Training Type" />
            </div>


        </form>
    </div>

    <p class="page-description" style="font-weight: bold; font-size: large;">Below you can find all the created saved
        training types. You can search for a specific one by typing its name in the search bar.
    </p>
    <!-- Table with jinja templating to render from queries -->
    <table style="width:75%">
        <tr>
            <th colspan="5" style="text-align: left;">
                <form action="/search_training" method = "POST">
                <label for="search-bar">Search training type by name:</label>
                <input required class="search-bar" name="search-bar" type="text" placeholder="Enter training type here...">
                <button type="submit" name="search_button" value="search">Search</button>
                </form>
            </th>
        </tr>
        <tr>
            <th>Training Type:</th>
            <!--
            <th style="width: 150px;">
                <div>Modify</div>
            </th>
            -->
        </tr>
        {% for row in data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{ row[key] }}</td>
            <!--
            <td>
                <button>Update</button> <button>Delete</button>
            </td>
            -->
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>